*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family:'Poppins',sans-serif;
}
.navbar{
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    position:sticky;
    top:0;
    z-index:1000;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    margin: auto;
    top: 0;
    background-color: beige;
}
.menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo{
    display: flex;
    align-items: center;
    color: #ff4d4d;
   
}
.menu ,a,li{
    text-decoration: none;
    list-style-type: none;
    color:rgba(35, 0, 3, 0.789);

}
.button{
    padding:10px 20px;
    background:#ff4d4d;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;

    
}
.button:hover{
    font-size: 16px;
    transition: 0.3s;
}

.Hero{
    margin-top: 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:70px 15px;
    max-width:1200px;
    margin:auto;



}
.Hero img{
    width: 435px;
    height: 435px;
    border-radius:20px;
}
.hero-text p{margin:15px 0;
    font-size:18px;}
 
    .search-box{
        width: 800px;
        background-color: #fff;
        box-shadow:0 2px 10px rgba(0,0,0,0.1);
        margin: 20px auto;
      padding: 10px 20px;
        border-radius: 10px;
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:20px 10px;

    }

   
    .search-box select{
        color: rgb(27, 19, 7);
        flex: 1;
        margin: 0px 20px;
        padding: 10px;

    }
    .search-box input{
        flex: 1;
        margin: 0px 20px;
        padding: 10px;
        color: black;

        
    }
.categories{
    max-width: 1200px;
    margin: 20px auto;
}
.cat-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 20px;
    margin-top: 40px;
    
}
.cat-card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition:0.3s;
   
}
.cat-card:hover{

    transform: translateY(-8px);
}
.categories h2{text-align:center;
margin-top: 30px;
font-size: 30px;}

.restaurant h2{
    text-align: center;
    margin: 30px;
    font-size: 30px;
}
.restaurant{
    max-width: 1200px;
    margin: 20px auto;
}
.rest-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 20px;

}
.rest-card{
    text-align: center;
    font-weight: 700;
    padding: 20px;
    background:#fff;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}
.rest-card img{
    width:100%;
    border: 1px;
    border-radius:12px;
    margin-bottom:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    height: 80%;
}
.rest-card:hover{
    transition: 0.5s;
    transform:translateY(-5px);
}
.promo{
    max-width:1200px;margin:60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 20px;
    background-color: #ff4d4d5c;
}
.promo span {
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.testimonials{max-width:1200px;
    margin:60px auto;}
.test-grid{display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;}
.test-card{
    background:#fff;padding:20px;
    border-radius:15px;text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);

}
.test-card img{width:60px;height:60px;
    border-radius:50%;
    margin-bottom:15px;

}

.testimonials h2{
    text-align: center;
    margin: 20px;
    font-size: 25px;

}

.app{max-width:1200px;
    margin:60px auto;
    display:flex;
    align-items:center;
    justify-content:space-between;


}
.app img{width:300px;}
.store-btns a img{
    width:150px;
    margin-right:10px;

}


footer{
    background:#222;
    color:#eee;
    padding:40px;
    margin-top:60px;
}
.footer-grid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
    
}
footer a{text-decoration:none;
    color:#ccc;
    display:block;
    margin-bottom:8px;}


@media(max-width:768px){
    .hero{
        flex-direction:column;
        text-align:center;
    
    }
    .hero img{
        
        width:300px;
        margin-top:20px;
    }
    .app{
        flex-direction:column;
        text-align:center;
    }
}